

  .arrow{
    font-size: 15px !important;
    vertical-align: middle !important;
    font-family: Arabic !important;

  }
  p{
    cursor: pointer;
  }
  .page-title{
    direction: rtl !important;
    float: right !important;
  }
.text-title{
  font-size: 15px !important;
  margin-right: 5px;

}