
.theme-table-elements-count {
    
    font-family: Arabic;
    display: inline-block;
    font-size: 15px;
    color: #00668f;
    

     span.bold {
        font-weight: bold;
        direction: rtl;
        


    }
  
}

.txt{
    font-family: Arabic !important;
    display: inline-block !important;
    font-size: 15px !important;
    color: #00668f !important;
    margin-right: 3px;
}
.text-blue{
    color: #d63031 !important;
}